@-moz-document url-prefix("https://stackoverflow.com") {
    #sidebar {
	display: none !important;
    }

    #mainbar {
	width: 100% !important;
    }
}

@-moz-document url-prefix("https://www.reddit.com/--") {
    /* Hide useless stuff*/
    span.score, .side, .footer-parent, #redesign-beta-optin-btn, #ecb, .give-gold-button, .crosspost-button, .subreddit-subscribe, .awardings-bar, div.score.likes, div.score.unvoted, div.score.dislikes, #sr-bar, .dropdown.srdrop .post-sharing-button, #sr-header-area .dropdown.srdrop, #header-img, #header-bottom-right, .presence_circle, #sr-more-link, .sr-list > .flat-list.sr-bar.hover:nth-of-type(1), .separator, .listing-chooser.initialized, .hover.pagename.redditname
    {
	display: none !important;
    }
    .last-clicked {
	border: 0 !important;
    }

    /* Major styling changes */
    * {
	color: black !important;
    }
    .tabmenu {
	font-size: 130%;
    }

    #header {
	background-color: #000;
    }
    .tabmenu li.selected a, .tabmenu li a, #sr-header-area, .flair, .linkflairlabel {
	background-color: black !important;
	color: white !important;
	border: 0 !important;
    }

    .flat-list {
	padding-left: 65px;
    }

    .choice, span.user> a {
	color: white !important;
    }

    ul.flat-list > li {
	padding-right: 25px;
    }

    .sr-list {
	font-size: 125%;
    }

    #header, .tabmenu a, #sr-header-area {
	border: 0!important;
	background-color: #000 !important;
    }

    #sr-header-area .sr-list {
	padding-left: 12px !important;
    }

    ul.flat-list > li {
	padding-right: 25px !important;
    }

    .nextprev a, .next-suggestions a {
	padding: 10px!important;
	border: 1px solid #fff !important;
	border-radius: 0!important;
    }

    .nav-buttons {
	padding-top: 25px!important;
    }
}

@-moz-document url-prefix("https://www.youtube.com") {
    .ytp-miniplayer-button.ytp-button {
	display: none !important;
    }
}

@-moz-document url-prefix("https://news.ycombinator.com") {
    @media (prefers-color-scheme: dark) {
	* :not(.votearrow, input, textarea) {
	    color: #f2f2f2 !important;
	    background:  #1a1a1a !important;
	}
    }

    /* don't worry about numbers */
    #karma {
	visibility: hidden;
	position: relative;
    }

    #karma::after {
	content: "∞";
	visibility: visible;
	position: absolute;
	top: 3px;
	left: 2px;
    }
}
