/* TODO: Find way to use regex in url-prefix, to combine stackexchange and stackoverflow */
@-moz-document url-prefix("https://security.stackexchange.com") {
    #sidebar, #left-sidebar {
	display: none !important;
    }

    #mainbar, #content {
	width: 100% !important;
    }
}

@-moz-document url-prefix("https://stackoverflow.com") {
    #sidebar {
	display: none !important;
    }

    #mainbar {
	width: 100% !important;
    }
}

@-moz-document url-prefix("https://www.youtube.com") {
    .ytp-miniplayer-button.ytp-button {
	display: none !important;
    }
}

@-moz-document url-prefix("https://news.ycombinator.com") {
    @media (prefers-color-scheme: dark) {
	* :not(.votearrow, input, textarea) {
	    color: #f2f2f2 !important;
	    background:  #1a1a1a !important;
	}
    }

    /* don't worry about numbers */
    #karma {
	visibility: hidden;
	position: relative;
    }

    #karma::after {
	content: "∞";
	visibility: visible;
	position: absolute;
	top: 3px;
	left: 2px;
    }
}
